In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to change these)
city_data_csv_path = "../Plots/Resources/city_data.csv"
ride_data_csv_path = "../Plots/Resources/ride_data.csv"

city_df = pd.read_csv(city_data_csv_path)
ride_df = pd.read_csv(ride_data_csv_path)

pyber_df = pd.merge(city_df, ride_df, how="left", on=["city", "city"])
pyber_df.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [11]:

# Read the City and Ride Data
cit_rid = pd.DataFrame({pyber_df.groupby(["city"]))})
cit_rid



# Combine the data into a single dataset

# Display the data table for preview

NameError: name 'groupby' is not defined

In [30]:
pyber_df.columns

Index(['city', 'driver_count', 'type', 'date', 'fare', 'ride_id'], dtype='object')